name: "test"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Run test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: 'Use Node.js 20.6'
        uses: actions/setup-node@v3
        with:
          node-version: '20.6'

      - run: npm ci

      # Run jest
      - run: npm test
